/* styles.css */

/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f0f0f0;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 2em;
  margin-bottom: 5px;
}

h4 {
  font-size: 1.5em;
  margin-top: 0;
  color: #616161;
}

.container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.label-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

/* Seat map styles */
.seat-map {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  gap: 10px;
  margin-bottom: 20px;
}

.seat {
  height: 60px;
  background-color: #cfd8dc;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #78909c;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

/* Summary table styles */
#summary-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#summary-table th,
#summary-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

#summary-table th {
  background-color: #f0f0f0;
}

#summary-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

#summary-table tbody tr:hover {
  background-color: #e0e0e0;
}

/* Form elements styles */
input[type="text"],
input[type="date"],
select {
  padding: 8px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  width: calc(100% - 20px); /* Adjust width */
  max-width: 300px; /* Limit maximum width */
}

button {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: #ffffff;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button.secondary {
  background-color: #757575;
}

button.secondary:hover {
  background-color: #616161;
}

/* Responsive design */
@media screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .seat {
    height: 50px;
  }

  input[type="text"],
  input[type="date"],
  select,
  button {
    padding: 6px;
    font-size: 0.9em;
  }
}
